<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Client.Properties.Settings.DBConnectionString" connectionString="Username=lysenko;Password=RbITIG;Host=192.168.54.21;Database=LinJay;Application Name=PostgreSQL"
            providerName="Npgsql" />
        <add name="Client.Properties.Settings.goshchinaConnectionString"
            connectionString="Username=lysenko;Password=RbITIG;Host=192.168.54.21;Database=goshchina"
            providerName="Npgsql" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
